@import 'reset'
@import 'base'
headerHeight = 40

body 
  font normal 14px/17px "Helvetica","Arial",sans-serif
  
#fb-root
  display none
#app-wrapper
  position: absolute
  top:0px
  left: 0px
  right: 0px
  bottom: 0px
  
  #app-title
    height: headerHeight
    background: #fff
    box-shadow 0 0 5px rgba(0,0,0,.5)
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    z-index: 3
    
    h1 
      padding: 5px
      line-height: 30px
      border-bottom-width: 0
    
  .full-page 
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    
  #app-map-wrapper
    top: headerHeight
    z-index: 2
    background: #efefef
    
    #map
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0

    #login-overlay
      background-color: rgba(#dedede,.7)
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      
  #app-notifications-wrapper
    top: headerHeight
    z-index: 1
