div#app-wrapper
  div#app-title
    h1= title
  div#app-map-wrapper
    div#login-overlay(style="display:none;")
      div(class="fb-login-button") Login with Facebook
  div#app-notifications-wrapper
    ul#notifications