div#app-wrapper
  div#app-title
    h1= title
    a#toggle-pane Toggle
  div#app-map-wrapper.full-page
    div#login-overlay(style="display:none;")
      div(id="fb_login")
  div#app-notifications-wrapper.full-pagelogin_overlay
    ul#notifications
