!!!
html
  head(prefix="og: http://ogp.me/ns#stalker_ed: http://ogp.me/ns/apps/stalker_ed#")
    title= title
    meta(property="fb:app_id", content="280290902003741")
    meta(property="og:type", content="stalker_ed:location")
    meta(property="og:title", content="Stalker")
    meta(property="og:image", content="https://s3.amazonaws.com/joneath/haters_gonna_hate.gif")
    meta(property="og:url", content="http://stalker.no.de/")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/css/styles.css')
  body(onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);")!= body
    div(id="fb-root")
    script(src="/js/mootools/mootools-core.js")
    script(src="/js/utils/Utils.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/utils/Events.js")
    script(src="/js/app/app.js");
