!!!
html
  head(prefix="og: http://ogp.me/ns# stalker_ed: http://ogp.me/ns/apps/stalker_ed#")
    title= stalker.user.name + '\'s Recent Stalk'
    meta(property="fb:app_id", content="280290902003741")
    meta(property="og:type", content="stalker_ed:location")
    meta(property="og:title", content=stalker.user.name + '\'s Recent Stalk')
    meta(property="og:description", content="Stalking all day, every day.") 
    meta(property="og:image", content="https://s3.amazonaws.com/joneath/haters_gonna_hate.gif")
    meta(property="og:url", content="http://stalker.no.de/" + stalker.socket.id)