html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  border-bottom: 2px #000 solid;
}
h1 {
  font-size: 22px;
  line-height: 28px;
}
h2 {
  font-size: 20px;
  line-height: 26px;
}
h3 {
  font-size: 18px;
  line-height: 21px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 18px;
}
p {
  margin: 10px 0;
}
body {
  font: normal 14px/17px "Helvetica", "Arial", sans-serif;
}
#fb-root {
  display: none;
}
#app-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#app-wrapper #app-title {
  height: 40px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.50);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
}
#app-wrapper #app-title h1 {
  padding: 5px;
  line-height: 30px;
  border-bottom-width: 0;
}
#app-wrapper #app-content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #efefef;
}
#app-wrapper #app-content #map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
